.detail-container {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.img-detail {
    margin-top: 100px;
}

.h2-detail {
    font-size: 40px;
    margin-bottom: 50px;
}
.span-detail {
    font-size: 35px;
    margin-bottom: 25px;
}

.stock {
    margin-top: 15px;
    font-size: 15px;
    border-top: none
}
.pDescrition-detail {
    font-size: 20px;
    border-top: 1px;
    border-spacing: 15px;
    border-top-style: solid;
    border-top-color: gray;
    margin-top: 50px;
    padding-top: 25px;
}

.btn-finCompra {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-left: 25%;
    margin-bottom: 75px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    background-color: #020202;
    border: none;
    transition: all 0.3s ease-in;
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: #f0f457;
    }
}

.pIcons-detail {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    font-size: 15px;
    border-top-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
