/* pag. Home */

.swiper-carrousel {
    padding-bottom: 200px;
}

.swiper-infiniteloop {
    padding-bottom: 200px;
}

.homeMarcas {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 100px;
}   


/* pag. Products */

.h1-pproducts {
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 25px;
}
