.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;
    height: 100px;
    width: 100%;
    background-color: #e0e2db;
}

.navbar-h1 {
    font-size: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    h1 {
        text-decoration: none;
        color: black;
    }
    
}

.navbar-list {
    display: flex;
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        column-gap: 50px;
        li button {
            font-size: 18px;
            border: none;
            background-color: #e0e2db;
        }
    }
}

ul .sub-marcas {
    display: flex;
    position: absolute;
}

.cart-widgets {
    display: flex;
    align-items: center;
    margin-right: 50px;
    column-gap: 20px;

}

.icons-widget {
    display: flex;
    align-items: center;
    column-gap: 25px;
    text-decoration: none;
}