
.container {
    padding: 0px 50px 0px 50px;
}


.header-navbar {
    display: flex;
    background-color: #e0e2db;
    justify-content: center;
    align-items: center;
    column-gap: 45%;
}

.navbar-h1 {
    display: flex;
    padding-left: -20px;
}

.ul-list {
    display: flex;
    column-gap: 30px;
    list-style: none;
}