footer {
    //height: 300px;
    width: 100%;
    background-color: #020202;
    padding-top: 50px;
}

.f-container {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;

    .d-infoFooter {
        display: flex;
        flex-direction: column;
        .h2-footer {
            margin-left: 0px;
            color: white;
            border-bottom: 1px solid;
            padding-bottom: 5px;
        }
        ul {
            margin-top: 35px;
            list-style: none;
        }
        li {
            margin-bottom: 15px;
            color: white;
            a {
                font-size: 15px;
                color: white;
                font-weight: 300;
                text-decoration: none;
                text-transform: capitalize;
                display: block;
                transition: all 0.3s ease;
            }
            a:hover {
                color: #F0F757;
                padding-left: 8px;
            }
        }
        p {
            margin-top: 10px;
            color: white;
        }
    }
}


/* ------------------------------------------- */

// MEDIA QUERIES

// Footer

@media screen and (max-width: 1280px) {

    footer {
        padding-top: 35px;
    }

    .f-container {
        padding-left: 50px;
        padding-right: 50px;
        column-gap: 20px;
    }
}

@media screen and (max-width: 768px) {

    .f-container {
        padding-left: 100px;
        padding-right: 100px;
        column-gap: 75px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 576px) {

    .f-container {
        flex-direction: column;
    }

    .h2-footer {
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .f-container {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 30px;
        .d-infoFooter {
            ul {
                margin-top: 25px;
            }
        }
        .h2-footer {
            border-bottom: 1px solid;
            padding-bottom: 5px;
        }
        
    }
}
