.item-product {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: 25%;
    height: 400px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-out;
    padding-left: 15px;
    padding-right: 15px;
    img {
        height: 250px;
    }
    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    span {
        font-size: 18px;
    }
    
}
.item-product:hover {
    box-shadow: 5px 5px 10px #afafaf47;
    -webkit-transform-: scale(1);
    transform: scale(1);
    opacity: 1;
}


.countProd {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    p {
        font-size: 22px;
    }
    button {
        padding: 15px;
        font-size: 20px;
        margin: 15px;
    }
}
    
.countBtn {
    display: flex;
    align-items: baseline;
    .p-contador {
        border-top: none;
        border-spacing: none;
    }
}

.btn-contador {
    margin-bottom: 50px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    background-color: #9792E3;
    border: none;
}

.btn-addCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    background-color: #9792E3;
    border: none;
}