.item-product {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 65px;
    //margin-right: 15px;
    .img-product {
        display: flex;
        justify-content: center;
        img {
            height: 290px;
        }
    }
    p {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    span {
        font-size: 18px;
    }
    .item-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .p-envios {
            border: 1px solid #020202;
            margin-top: 10px;
            padding: 5px 5px 5px 5px;
            font-size: 15px;
            background-color: #020202;
            color: white;
            transition: all 0.3s ease-in;
        }
        .p-envios:hover {
            color: #f0f457;
        }
    }
    
    
}
.item-product:hover {
    box-shadow: 5px 5px 10px #afafaf47;
    -webkit-transform-: scale(1);
    transform: scale(1);
    opacity: 1;

    border: 1px solid rgba(0, 0, 0, 0.205);
}


/*  Item Count  */

.countProd {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    p {
        font-size: 22px;
    }
    button {
        padding: 15px;
        font-size: 20px;
        margin: 15px;
    }
}
    
.countBtn {
    display: flex;
    align-items: baseline;
    .p-contador {
        border-top: none;
        border-spacing: none;
    }
}

.btn-contador {
    margin-bottom: 50px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    background-color: #020202;
    border: none;
    color: white;
}

.btn-addCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 20px;
    width: 50%;
    height: 50px;
    background-color: #020202;
    color: white;
    border: none;
    transition: all 0.3s ease-in;
}

.btn-addCarrito:hover {
    color: #f0f457;
}

/* ------------------------------------------- */

// MEDIA QUERIES

// Item Product


@media screen and (max-width: 1280px) {
    .item-product {
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 15px;
        margin-right: 15px;
        .img-product {
            img {
                height: 250px;
            }
        }
    }
}


@media screen and (max-width: 992px) {

    .item-product {
        width: 27%;
        margin-left: 25px;
        .img-product {
            img {
                height: 165px;
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .item-product {
        width: 36%;
        margin-left: 25px;
        margin-right: 25px;
        height: 300px;
        .img-product {
            img {
                height: 150px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .item-product {
        width: 40%;
        margin-left: 15px;
        margin-right: 15px;
        height: 250px;
        .img-product {
            img {
                height: 120px;
            }
        }
        p {
            font-size: 14px;
        }
        span {
            font-size: 14px
        };
    }
}

/*  Item Count  */

@media screen and (max-width: 1280px) {
    
    .btn-addCarrito {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {

    .countProd {
        margin-top: 20px;
        flex-direction: row;
        p {
            font-size: 18px;
        }
        button {
            font-size: 18px;
            margin: 15px;
        }
    }

    .btn-contador {
        width: 80%;
    }

    .btn-addCarrito {
        width: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    .countProd {
        margin-top: 10px;
        flex-direction: column;
        p {
            font-size: 16px;
        }
        button {
            font-size: 16px;
            margin: 15px;
        }
    }
}
